@import '../assets/font/stylesheet.css';
@import './libs/jquery.arcticmodal-0.3.css';
@import './libs/slick.css';
@import './libs/slick-config.less';
@import './libs/jquery-ui.min.css';
@import 'functions';

@infinite: 22222px;
@pcHeight: 626px;
//dimensions
@tabletFrom: 768px;
@pcFrom: 1200px;
@fullHDFrom: 1400px;

@blue: #6EC8E6;
@yandexBlue: #87CAD3;
@dark: #334655;
@blackColor: #161818;
@black: url('../assets/img/black.png') no-repeat center center/cover;

@silver: #f6f6f6;
@grey: rgba(66, 66, 66, 0.37);
@dropdownColor: #d4dde8;

@D2b: #2B2B2B;
@D40: #404040;
@fontColor: #012757;
@Black10: rgba(11, 15, 16, 0.9);
@sliderNavColor: @grey;
@bodyBackground: #cecece;
@footer: #2D4247;
@scrollbar: #DDDEDE;


@gradient1: linear-gradient(51.27deg, #181818 -2.95%, rgba(108, 187, 244, .2) 102.82%), #242424;
@gradient2: linear-gradient(247.03deg, #181818 -5.42%, rgba(108, 187, 244, 0) 99.3%);


@section-title-size: 35px;
@banner-title-size: 43px;
@banner-description-size: 22px;

@h2: @section-title-size;
@h3: 30px;
@h4: 25px;
@p: 22px;

@container: 1368px;
@padding-inside: 20px;
@space-around-section: 200px;

* {
  font-family: @fontFamily;
  outline: none;
  margin: 0;
  padding: 0;
}

h1 {
  .h1();
}
h2 {
  .h2();
}
h3 {
  .h3();
}
h4 {
  .h4_or_custom();
}
h5 {
  .h4_or_custom(22px, #fff)
}
h6 {
  .h4_or_custom(18px, #fff)
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: @bodyBackground;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: @D40;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}
main {
  min-height: 200vh;
}

.without-banner {
  .mediaMaxWidth({
    padding-top: 50px;
  }, @tabletFrom);
  .mediaFromTo({
    padding-top: 82.5px;
  }, @tabletFrom, @pcFrom);
  .mediaFromTo({
    header {
      .bgCover();
      background: @black;
    }
    padding-top: 146px;
  })
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.box-modal {
  position: relative;
}
header {
  background: transparent;
  //transition: 100ms ease-out;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9;
}

//datepicker
.ui-datepicker {
  z-index: 9999999999999999 !important;
  @date-color: rgba(0, 0, 0, 95);
  background: @date-color;
  color: #fff;
  width: 321px;
  box-sizing: border-box;

  &-header {
    @header-color: rgba(41, 55, 65, 0.74);
    background: @header-color;
    border-color: @header-color;
    color: #fff;
  }

  &.ui-widget {
    border-color: @date-color;

  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    cursor: pointer;

    span {
      display: none;
    }

    .bgCover(auto 18px);
    background-image: url("../assets/img/dateselector-arrow.svg");

    &:hover {
      background-color: transparent;
      border-color: transparent;
    }
  }

  &-next {
    transform: rotate(180deg);
  }

  &-unselectable .ui-state-disabled {
    background-color: #fafafa;
  }

  &-calendar {
    td {
      padding: 7px;
    }
  }

  .ui-state-default {
    background: transparent;
    color: #fff;
    border-color: transparent;
    text-align: center;
    padding: 4px 0 5px;

    &.ui-state-highlight {
      color: @blue;
      border-radius: 50%;
    }

    &.ui-state-active {
      background: @blue;
      color: #fff;
      border-radius: 50%;
    }
  }
}


.container(@m-width: @container) {
  box-sizing: content-box;
  margin: 0 auto;
  padding-left: @padding-inside;
  padding-right: @padding-inside;
  width: calc(100% - @padding-inside * 2);
  max-width: @m-width;
}


.bgDefault() {
  background-repeat: no-repeat;
}

.bgCover(@cover: cover) {
  .bgDefault();
  background-size: @cover;
  background-position: center;

}

.bgContain(@pos: center) {
  .bgDefault();
  background-position: @pos;
  background-size: contain;
}

.burger {
  box-sizing: border-box;
  @burger-size: 30px;
  cursor: pointer;
  position: relative;
  z-index: 11;
  width: @burger-size;
  height: @burger-size;
  transition: 300ms ease;
  //padding: 5px;
  margin-left: @burger-size;

  &-item {
    transition: 300ms ease;
    position: absolute;
    top: calc(50%);
    width: @burger-size;
    height: 1px;
    background: @blue;
  }

  &-item:first-child {
    top: 5px;
  }

  &-item:last-child {
    top: calc(100% - 4px);
  }

  &_active {
    .burger-item:nth-child(2) {
      opacity: 0;
    }

    .burger-item:first-child {
      transform: rotate(45deg);
      top: 50%;
    }

    .burger-item:last-child {
      transform: rotate(-45deg);
      top: 50%
    }
  }
}

a {
  color: @blue;
  text-decoration: none;
}

@b-clip: 32px;
.button {
  height: 53px;
  display: inline-block;
  background: @blue;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  padding: 12px 37px;
  clip-path: polygon(@b-clip 0%, 100% 0%, calc(100% - @b-clip) 100%, 0% 100%);
  border: none;
  cursor: pointer;
  transition: .2s ease;

  .mediaMaxWidth({
    @b-clip: 20px;
    clip-path: polygon(@b-clip 0%, 100% 0%, calc(100% - @b-clip) 100%, 0% 100%);
    font-size: .9em;
  }, @pcFrom);


  &:not(&-light):hover {
    background: darken(@blue, 10%);
  }

  &-light {
    //background: rgba(58, 57, 57, 0.38);
    background-image: url("../assets/img/light-button-bg.png");
    background-color: transparent;
    .bgCover(95%);
    overflow: hidden;

    &:hover {
      background-color: @blue;
      background-image: none;
    }
  }
}

.height (@height: auto) {
  min-height: @height;
  height: @height;
}

.stop-scroll {
  overflow: hidden;
}

.checkbox {
  label {
    display: flex;
    align-items: flex-start;
  }

  label > span {
    font-size: 12px;
    padding-left: 14px;
    user-select: none;
    color: white;
    .mediaMaxWidth({
      font-size: 8px;
    }, @tabletFrom);
  }

  input[type='checkbox'],
  input[type='checkbox']::before {
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
  }

  input[type='checkbox'] {
    position: relative;
    cursor: pointer;
    margin: 0;
    display: block;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    margin-top: 3px;
  }
  .mediaMaxWidth({
    label > span {
      font-size: 8px;
    }
    input[type='checkbox'],
    input[type='checkbox']::before {
      min-width: 20px;
      min-height: 20px;
      max-width: 20px;
      max-height: 20px;
    }
    input[type='checkbox'] {
      margin-top: 2px;
    }
  }, @tabletFrom);
  input[type='checkbox']::before {
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 1px;
    border: 1px solid #fff;
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 20px;
    transition: 100ms ease;
    background-position: 0 -100px;
  }

  input[type='checkbox']:checked::before {
    background-image: url("../assets/img/check.svg");
    background-repeat: no-repeat;
    border-color: @blue;
    background-position: 50% 50%;
  }
}

textarea {
  appearance: none;
  resize: none;

}

.input {
  @space-input: 10px;
  position: relative;
  margin: @space-input 0;
  max-width: 400px;

  input::placeholder,
  textarea::placeholder {
    transition: 100ms ease 100ms;
    color: red;
    opacity: 0;
  }

  input,
  textarea {
    height: 61px;
    width: 100%;
    box-sizing: border-box;
    padding: 30px 9px 6px;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: transparent;
    transition: 100ms ease;
  }

  input:hover,
  textarea:hover {
    @media screen and (min-width: @pcFrom + 1) {
      background-color: rgba(11, 31, 53, 0.1);
    }
  }

  input + span,
  textarea + span {
    color: #fff;
    position: absolute;
    pointer-events: none;
    z-index: 3;
    left: 9px;
    line-height: 13px;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: 300ms ease;
  }

  textarea + span {
    top: 10px;
    transform: translateY(10px);
  }

  // line
  .line {
    height: 3px;
    background: @blue;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    filter: blur(0);
    transition: 100ms ease;
  }

  input:focus + span,
  input:not(:placeholder-shown) + span {
    top: 25%;
    color: @blue;
  }

  textarea:focus + span,
  textarea:not(:placeholder-shown) + span {
    top: -5px;
    transform: translateY(10px);
    color: @blue;
  }

  textarea:focus ~ .line,
  input:focus ~ .line {
    filter: blur(2px);
  }

  &.textarea {
    @areaSize: calc(100% - @space-input * 2);

    label {
      height: 100%;
      display: block;
    }

    textarea {
      height: calc(100% - 24px);
      padding-top: 6px;
      margin-top: 20px;
    }

    height: @areaSize;
  }

  .mediaMaxWidth({
    max-width: none;
    width: 100%;
    textarea {
      min-height: 150px;
    }
  })
}

.image() {
  border-radius: 1px;
  width: 100%;
  .bgCover();
}

.utils {
  position: absolute;
  @btnSize: 30px;
  @btnClip: (30px / 3);

  &-nav {
    height: 18px;
    position: absolute;
    &-container {
      display: flex;
      align-items: stretch;
      .flex();
      height: 100%;
      li {
        button {
          font-size: 0;
          margin: 0;
          border: none;
          box-sizing: border-box;
          display: block;
          height: 100%;
          cursor: pointer;
          background: @sliderNavColor;
          width: @btnSize;
          clip-path: polygon(@btnClip 0%, 100% 0%, calc(100% - @btnClip) 100%, 0% 100%);
          @media (min-width: @pcFrom + 1) {
            &:hover {
              background: @blue;
            }
          }
        }
        &.slick-active {
          button {
            background: @blue;
            filter: blur(2px);
            box-shadow: inset 0 0 16px 0 #cecece;
          }
        }
        &:not(:first-child) {
          margin-left: -(@btnClip - 3);
        }
      }
    }
  }
}

.slick-arrows {
  position: relative;
  .container();
  box-sizing: border-box;
  .flex-center;
  &-arrow {
    @arrowSize: 30px;
    transition: 100ms ease;
    position: absolute;
    top: -250px;
    left: 0;
    display: block;
    width: @arrowSize;
    height: @arrowSize;
    .bgCover((@arrowSize / 1.5));
    background-image: url("../assets/img/select.svg");
    background-color: rgba(3,3,3,0.2);
    border-radius: 50%;
    cursor: pointer;


    transform: rotate(-90deg);
    &-next {
      right: 0;
      left: auto;
    }
    &-prev {
      transform: rotate(90deg);
    }
    &.slick-disabled {
      opacity: .5;
    }
  }
}

.social-link(@bg: @blue) {
  display: block;
  width: 35px;
  height: 35px;
  background-color: @bg;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 10px;
  cursor: pointer;

  &-whats {
    background-image: url("../assets/img/whts.png");
  }

  &-viber {
    background-image: url("../assets/img/viber.png");
  }
}

.logo {
  width: 205px;
  height: 41px;
  background: url("../assets/img/logo.png") no-repeat center center/contain;
}

.rectange(@size: 0) {
  width: @size;
  height: @size;
}

// blocks
.flex() {
  display: flex;
}

.wrap() {
  flex-wrap: wrap;
}

.flex-col() {
  .flex();
  flex-direction: column;
}

.flex-between() {
  .flex();
  justify-content: space-between;
}

.flex-between-align() {
  .flex-between();
  align-items: center;
}

.flex-center() {
  .flex();
  justify-content: center;
  align-items: center;
}

.banner {
  margin-bottom: calc(@space-around-section / 2);
}

.h1() {
  line-height: 1.4em;
  font-size: @banner-title-size;
  font-weight: 500;
  color: #fff;

  .mediaMaxWidth({
    font-size: @banner-title-size * .8;
  });
}

.h2() {
  font-weight: 700;
  font-size: @h2;
  color: @fontColor;
  .mediaMaxWidth({
    font-size: @h2 * 0.8;
  })
}

.h3() {
  font-weight: 700;
  font-size: @h3;
  color: @fontColor;
  .mediaMaxWidth({
    font-size: @h3 * 0.8;
  })
}

.h4_or_custom(@font-size: @h4, @font-color: @fontColor) {
  font-weight: 700;
  font-size: @font-size;
  color: @font-color;
  .mediaMaxWidth({
    font-size: @font-size * 0.8;
  })
}

.textCustom(@font-size: @p, @font-color: @fontColor) {

}

.mediaMaxWidth({
  h2 {
    font-size: @h2 * 0.7;
  }
  h3 {
    font-size: @h3 * 0.7;
  }
  h4 {
    font-size: @h4 * 0.7;
  }
  h5 {
    font-size: 22px * 0.7;
  }
});

.font(@color: @fontColor, @fsize: 20px, @fweight: 400) {
  color: @color;
  font-size: @fsize;
  font-weight: @fweight;
  line-height: 1.3em;
}

.section {
  width: 100vw;
  .mediaFromTo({
    margin-bottom: @space-around-section !important;
  }, @pcFrom, @infinite);
  .mediaMaxWidth({
    margin-bottom: (@space-around-section / 4) !important;
  }, @pcFrom);

  &-title {
    .container();
    .h2();
    text-align: center;
    margin-bottom: 100px;
    .mediaMaxWidth({
      margin-bottom: 50px;
    });
  }
}

footer {
  background: @footer;
}

.yandex {
  overflow: hidden;
  width: 100vw;
  height: 703px;
  background: #f6f6f6;
}

.modal {
  &-container {
    @verticalPadding: 32px;
    @horisontalPadding: 26px;
    box-sizing: border-box;
    width: 100vw;
    border-radius: 1px;
    padding: @verticalPadding + 25px @horisontalPadding;
    .flex-col();
    justify-content: space-between;
    @media (min-width: @tabletFrom + 1) {
      max-width: 440px;
      background: rgba(12, 13, 16, 0.94);
      box-shadow: 0 4px 13px 6px rgba(0, 0, 0, 0.06);
    }
    .mediaMaxWidth({
      height: 100%;
    }, @tabletFrom);
  }

  &-row:not(:last-child) {
    margin-bottom: 30px;
  }

  &-input {
    max-width: none;
  }

  &-button {
    width: 100%;
    height: 60px;
    margin-top: 20px;
  }
}
.arcticmodal-close {
  .mediaFromTo({
    display: none;
  }, @tabletFrom, @infinite);
  position: absolute;
  top: 15px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-image: url("../assets/img/close-modal.svg");
  .bgCover()
}

@media (min-width: 1200px) and (max-height: 700px) {
  .navigation-transparent {
    display: none;
  }
}


// !important

.mediaMaxWidth(@style:{}, @to: @pcFrom) {
  @media (max-width: @to) {
    @style();
  }
}

.mediaFromTo(@style: {}, @from: @pcFrom, @to: @infinite) {
  @media (min-width: @from + 1) and (max-width: @to) {
    @style();
  }
}

@media (max-width: @tabletFrom) {
  .arcticmodal-container {
    background: rgba(12, 13, 16, 0.94);
    box-shadow: 0 4px 13px 6px rgba(0, 0, 0, 0.06);
  }
}

@media (min-width: @tabletFrom + 1) {
  .arcticmodal-container {
    background: rgba(17, 15, 15, 0.58);
  }
}

@media (max-width: @pcFrom) {
  main .people {
    box-sizing: border-box;
    padding: 0;
    overflow-x: hidden;
  }

  .banner {
    margin-bottom: (@space-around-section / 4);
  }

  .section {
    margin-bottom: (@space-around-section / 2) !important;
  }
}

@media screen and (min-width: @pcFrom + 1) {
  //.navigation-transparent {
  //  transition: 100ms ease;
  //  opacity: 0;
  //}
  .burger,
  .navigation-placeholder {
    display: none;
  }
  .dropdown-app-container-preview,
  .about-container-content {
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #DDDEDE44;
    }

    &::-webkit-scrollbar-thumb {
      background: @scrollbar;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

.littlePc(@style: {}) {
  @media screen and (min-width: @pcFrom + 1) and (max-width: @fullHDFrom) and (max-height: 700px) {
    @style();
  }
}


