@import "mainStyles";
@import "additional";

@fontFamily: 'Open Sans', sans-serif;

@headerMobile: 40px;
@headerHeight: 70px;


@bannerBg1: url('../assets/img/Bg.jpg');

.header_scrolled {
  background: @black;
  background-size: 100%;
  background-position: top;
}

.header {
  .container();
}
.navigation {

}
// * header
.header {
  padding-top: 21px;
  padding-bottom: 2px;

  height: calc(@headerHeight - 21px);
  .flex-between-align();

  &-assets {
    .flex-between-align();

    &-call-button {
      display: flex;

    }

    &-contacts {
      font-size: 20px;
      padding: 0 50px;
      .flex-col();
      align-items: flex-end;
      color: @blue;

      a {
        font-weight: 700;
      }
    }
  }

  .button {
    padding: 12px 61px 18px;
  }

  .mediaMaxWidth({
    padding-top: 21px * .8;
    padding-bottom: 21px * .8;
    .header-assets-contacts {
      display: none;
    }
    .button {
      padding: 2px 30px;
      height: 30px;
      font-size: .8em;
    }
  })
}

.navigation {
  transition: 100ms;
  overflow: hidden;
  background: rgba(23, 30, 37, 0.58);
  .flex();
  justify-content: center;

  .mediaMaxWidth({
    white-space: nowrap;
    height: 100vh;
    width: 0;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    padding: 0;
  });

  &_closed {
  }

  &-placeholder {
    width: 30%;
  }

  &-container {
    flex-grow: 1;
    max-width: @container;
    transition: 200ms ease-out;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    .flex-between-align();
    padding: 0 @padding-inside;

    &-item {
      @space: 13px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child {
        justify-content: flex-start;
      }

      &:last-child {
        justify-content: flex-end;
      }

      box-sizing: border-box;
      position: relative;
      height: 100%;

      a {
        padding: @space 0;
        display: flex;
        align-items: center;
        flex-grow: 1;
        text-decoration: none;
        color: #fff;
        height: 100%;
        text-align: center;
        white-space: pre-line;
        box-sizing: border-box;
      }

      a:hover,
      &.link_active a {
        color: @blue
      }

      &.link_active a {
        font-weight: 600;
      }

      .mediaMaxWidth({
        height: auto;
      })
    }

    &-divider {
      background: @blue;
      max-width: 1px;
      width: 1px;
      height: 35px;
      top: 50% - 22px;
      pointer-events: none;
      .mediaMaxWidth({
        display: none;
      })
    }
  }

  &_active {
    transition: 0s;
    width: 100vw;
    .navigation-container {
      width: 100%;
    }
  }

  &-container {
    &-contacts {
      display: none;
    }
    .mediaMaxWidth({
      flex-direction: column;
      align-items: flex-start;
      justify-content: normal;
      background: #3B5262;
      overflow: hidden auto;
      padding: 0;
      flex-basis: 100%;
      &-contacts {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        white-space: normal;
        font-size: .8em;
        width: 100%;
        background: rgba(19, 19, 19, 0.66);
        color: @blue;
        padding: 13px 20% 13px 22px;

        a {
          font-weight: 700;
        }
      }
      &-item:not(:first-child) {
        padding-top: 9px;
      }
      &-item {
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid #767C77;

        &.link_active {
          border-color: @blue;
        }
      }

      &-item a {
        white-space: nowrap;
        padding: 15px 23px;
      }
    });
  }
}

@space-between-services: 50px;
@heightItems: 333px;
@clip: 75px;

.banner {
  @paddingTop: 150px;
  @paddingContentTop: 100px;
  @SlideHeight: 949px - @paddingTop;
  @sizeVert: 475px;
  @sizeHor: 270px;
  position: relative;

  &-item {
    background-image: @bannerBg1;
    .bgCover();
    height: @SlideHeight;
    min-height: @SlideHeight;
    padding-top: @paddingTop;

    &-content {
      overflow: hidden;
      position: relative;
      &:before {
        content: '';
        position: absolute;
        background: @blue;
        bottom: 37px;
        left: @padding-inside;
        height: 1px;
        width: @sizeHor;
      }

      &:after {
        content: '';
        position: absolute;
        background: @blue;
        right: @padding-inside;
        top: @paddingContentTop;
        width: 1px;
        height: @sizeVert;
      }

      .container();
      padding-left: @padding-inside;
      padding-top: @paddingContentTop;
      height: calc(100% - @paddingContentTop);

      &-title {
        line-height: 1.4em;
        max-width: 686px;
        color: #fff;

        span {
          font-weight: 900;
          color: @blue;
        }
      }

      &-description {
        color: #60C6E1;
        font-size: @banner-description-size;
        font-weight: 400;
        padding: 10px 0 27px;
        max-width: 660px;
      }
    }
  }

  &-utils {
    bottom: 37px;
    width: 100%;

    &-nav {
      bottom: 0;
      right: calc(50%);
      transform: translate(50%);
    }

    &-links {
      right: calc(50% - @container / 2);
      bottom: 0;
      position: absolute;
      display: flex;
      @media screen and (max-width: @container + @padding-inside*2) {
        right: @padding-inside;
      }
    }
  }

  .mediaMaxWidth({
    &-item {
      padding-top: (@paddingTop / 2);
      max-height: calc(100vh - 75px);
      box-sizing: border-box;
      &-content {
        &-button {
          margin-top: 30px;
        }
      }
    }
  });

  .littlePc({
    &-item {
      .height(@pcHeight - @paddingTop);
      &-content {
        padding-top: 10px;
        overflow: visible;
        &:before {
          bottom: -54px;
          width: 420px;
        }
        &:after {
          top: 10px;
          height: 359px;
        }
      }
    }
  });
}

.social-link {
  .social-link(@blue);
}

.services {
  &-block {
    overflow-x: hidden;
    &-row {
      .mediaFromTo({
        &-container-top {
          transform: translateX(48px);
        }
        &-container-bottom {
          transform: translateX(-48px);
        }
      }, @tabletFrom, @infinite);

      margin-bottom: 145px;

      &-flex {
        .flex();
        position: relative;
        width: 50%;
        transform: translateX(-@space-between-services);

        .services-block-row-container-item_dark {
          background: @gradient1;
        }

        &:first-child {
          z-index: 1;

          .services-block-row-container-item_dark {
            background: linear-gradient(to left, #cecece, transparent 60%), @black;
          }

          transform: translateX(@space-between-services);
        }
      }

      //height: @heightItems;

      &:first-child {
        background: @black;
        background-repeat: repeat-x;
        background-size: 100% 100%;
        background-position: center;
      }

      &-container {
        .container();
        width: 100%;
        box-sizing: border-box;
        padding: 0;
        .flex-between();

        &-item {
          padding: 0 24px;
          box-sizing: border-box;
          clip-path: polygon(@clip 0%, 100% 0%, calc(100% - @clip) 100%, 0% 100%);
          width: 100%;
          height: @heightItems;
          background-color: #cecece;
          overflow: hidden;
          .flex-center();
          &--img {
            width: 100%;
          }

          &-photo {
            clip-path: polygon(@clip 0%, 100% 0%, calc(100% - @clip) 100%, 0% 100%);
            background-image: url("../assets/img/services1.jpg");
            .bgCover();
            width: 100%;
            height: 100%;
          }

          &-title {
            .h4_or_custom(@h4, @fontColor);
            white-space: pre-line;
            position: relative;
          }

          &-mini {
            .bgContain(right bottom);
            height: 212px;
            width: 50%;
            .generate-services();
            transform: translateX(-100px);
          }
        }

        &-info {
          position: absolute;
          width: calc(100% - 30px);
          .flex-between;
          align-items: flex-end;
          bottom: 0;
          left: 30px;
          transform: translateY(30%);
        }

        .mediaMaxWidth({
          &-item-title {
            line-height: 22px;
            font-size: 14px;
          }
          &-item-mini {
            height: 150px;
            width: 30%;
          }
        }, @pcFrom);
      }

      .mediaMaxWidth({
        margin-bottom: 100px;
      }, @pcFrom);
    }

    .mediaMaxWidth({
      &-row {
        margin-bottom: 0;
        &:first-child {
          background: none;
        }
        height: auto;
      }
      &-row-flex {
        width: 100%;
        flex-direction: column;
        transform: translateX(0px) !important;
        background: @black;
        margin-bottom: 20px;
      }
      &-row-container {
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 100%;
        &-item {
          clip-path: none;
          padding: 0;
          background: none !important;
          height: 243px;
          &-photo {
            clip-path: none;
          }
          &-title {
            font-size: 20px;
          }
          &-mini {
            margin-top: -100px;
            width: 50%;
            transform: translateX(0);
          }
        }
        &-info {
          transform: translateY(0);
          position: relative;
          top: auto;
          bottom: auto;
          left: auto;
          right: auto;
          width: 100% !important;
          align-items: flex-start;
          background: @bodyBackground;
          .container();
          box-sizing: border-box;
        }
      }
    }, @tabletFrom);

    .littlePc({
      &-row-container-item {
        height: 228px;
      }
      &-row:first-child {
        margin-bottom: 85px;
      }
    });
  }
}


.about {
  @clip-image: 54px;
  .bgContain(bottom center);
  background-image: url("../assets/img/about-we.png");
  min-height: 400px;
  background-size: 1920px;

  &-container {
    .container();
    padding-bottom: 255px;

    &-flex {
      .flex-between();
      height: 556px;
      background: #f4f4f4;
    }

    @photo-width: 55%;

    &-photo {
      clip-path: polygon(0 0, 100% 0, calc(100% - @clip-image) 100%, 0% 100%);
      height: 100%;
      width: @photo-width;
      .bgCover();
      background-image: url("../assets/img/team.jpg");
    }

    &-content {
      padding: 24px 53px 15px 0;
      width: 100% - @photo-width;
      overflow: auto;
      .flex-col();
      align-items: center;

      &-title {
        position: relative;
        margin-bottom: 14px;
        text-align: center;
        .h2();

        &:after {
          content: '';
          background: @blue;
          height: 3px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateY(3px) translateX(-50%);
        }
      }

      &-text {
        white-space: pre-line;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.1em;
        margin-bottom: 1em;

        address {
          color: #222;
          font-weight: 700;
          font-size: 12px;
          text-align: right;
        }
      }
    }

    .mediaMaxWidth({
      padding-bottom: 105px;
      &-content {
        padding: 12px 27px 9px 0;
      }
      &-content-title {
        font-size: @h2 * 0.8;
      }
      &-content-text {
        P {
          font-size: 16px;
        }
      }
    })
  }

  .littlePc({
    &-container {
      padding-bottom: 94px;
      &-flex {
        height: 532px;
      }
      &-content-text p {
        font-size: 20px;
      }
    }
  });
}

.advantages {
  @icon-size: 70px;
  @a-row-space: 90px;

  &-container {
    .container();
    position: relative;

    &-separators {
      width: 72%;
      position: absolute;
      top: calc(37%);
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-around;

      &-separator {
        height: 102px;
        width: 1px;
        background: @blue;
      }

    }

    &-row {
      .flex-between();
      .wrap();

      &:first-child {
        margin-bottom: @a-row-space;
        .mediaMaxWidth({
          margin-bottom: (@a-row-space / 2);
        })
      }

      &-item {
        width: 27%;
        min-width: 300px;

        &-icon {
          .bgContain();
          width: @icon-size;
          height: @icon-size;

          &-1 {
            background-image: url("../assets/img/advantage1.png")
          }

          &-2 {
            background-image: url("../assets/img/advantage2.png")
          }

          &-3 {
            background-image: url("../assets/img/advantage3.png")
          }

          &-4 {
            background-image: url("../assets/img/advantage4.png")
          }

          &-5 {
            background-image: url("../assets/img/advantage5.png")
          }

          &-6 {
            background-image: url("../assets/img/advantage6.png")
          }
        }

        &-title {
          .h3();
          margin-top: 3px;
          margin-bottom: 7px;
        }

        &-content {
          .font(@D40, 22px, 300);
        }

      }
    }

    .mediaMaxWidth({
      &-row-item {
        min-width: 240px;

        &-title {
          font-size: @h3 * 0.7;
        }

        &-content {
          font-size: 22px * 0.7;
        }
      }
      &-separators {
        display: none;
      }
    });
    .mediaMaxWidth({
      &-row:first-child {
        margin-bottom: 0;
      }
      &-row-item {
        margin-bottom: 25px;
        width: 100%;
        .flex-col();
        align-items: center;
        text-align: center;

        &-title {
          max-width: 400px;
        }

        &-content {
          max-width: 400px;
        }
      }
      &-separators {
        display: none;
      }
    }, @tabletFrom);
  }
}

.form {
  @f-inputs-space: 125px;
  width: auto;
  margin: 0 24px;
  box-shadow: -4px -3px 10px rgba(37, 37, 37, 0.85);
  .bgContain();

  &-container {
    padding: 54px 0;

    &-title {
      margin: 0 auto;
      max-width: 565px;
      text-align: center;
      .font(#fff, @h2, 700);

      span {
        color: @blue;
      }
    }

    background: url('../assets/img/hlights.png') no-repeat center/ 100%, @black;

    &-inputs {
      width: 100%;
      .container(1260px);
      .flex-between();
      margin-top: @f-inputs-space;
      margin-bottom: @f-inputs-space;

      &-input {
        width: 30%;
      }
    }

    &-buttons {
      .container(1260px);


      & > div {
        width: 70%;
      }

      & > div:nth-child(2) {
        width: 56%;
        margin: 0 20px;
      }

      .flex-between();
      align-items: flex-start;

      &-button {
        .flex-center();

        .button {
          min-width: 291px;
        }
      }
    }

    .mediaMaxWidth({
      &-title {
        font-size: @h2 * 0.7;
      }
      &-inputs {
        margin: 20px 0;
        .flex-col();

        &-input {
          max-width: none;
          width: 100%;
        }
      }
      &-buttons {
        flex-direction: column-reverse;
        align-items: flex-start;

        &-button {
          margin: 20px 0 0;
        }

        & > div {
          width: auto;
        }

        & > div:nth-child(2) {
          width: 100%;
          margin: 20px 0px;
        }
      }
    });
  }
}

.people {
  @people-card: 419px;
  @people-card-width: 282px;
  .container();

  &-container {
    margin-bottom: 35px;
    &-card {
      cursor: grab;
      width: 100%;
      height: @people-card;
      max-width: @people-card-width;
      min-width: 282px;
      background: #252525;
      margin: 0 auto;
      .mediaFromTo({
        height: @people-card;
        min-width: 282px;
        background: #252525;
      }, @pcFrom, @infinite);

      &-image {
        width: 100%;
        height: 303px;
        .bgCover();

        &-1 {
          background-image: url("../assets/img/guy1.png");
        }

        &-2 {
          background-image: url("../assets/img/guy2.png");
        }

        &-3 {
          background-image: url("../assets/img/guy3.png");
        }

        &-4 {
          background-image: url("../assets/img/guy4.png");
        }
      }

      &-title {
        .flex-center();
        background: #2F424F;
        .font(#fff, 22px, 400);
        width: 215px;
        height: 33px;
        margin-bottom: 22px;
        clip-path: polygon(0% 0%, 100% 0%, calc(100% - 22px) 100%, 0% 100%);
      }

      &-text {
        padding: 0 11px;
        .flex-between();
        .font(#f8f8f8, 19px, 300);
      }
    }

    .mediaMaxWidth({
      &-card {
        //min-width: 350px;
        height: @people-card;
        margin: 0 10px;
        transition: 200ms ease;
        position: relative;
        //transform: scale(0.85);
        //z-index: 4;
        //margin: 0 -20px;
        &.slick-center {
          //z-index: 5;
          //transform: scale(1);
        }
      }
    }, @pcFrom);
  }
  @media (min-width: @pcFrom + 1) {
    &-container {
      width: 100%;
      margin-bottom: 70px;
      box-sizing: border-box;
    }
    padding: 0;
    width: 100%;
    max-width: 1440px;
  }
  .littlePc({
    &-container {
      margin-bottom: 35px;
    }
  });
  &-button {
    .flex-center();

    .button {
      @p-b-clip: 48px;
      padding: 0 65px;
      clip-path: polygon(@p-b-clip 0%, 100% 0%, calc(100% - @p-b-clip) 100%, 0% 100%);
    }
  }
}
//works and
.works {
  .mediaFromTo({
    .dropdown-app-navigation-title,
    .dropdown-app-all-photos-btn {
      display: none;
    }
    position: relative;
    background: url('../assets/img/black.png') no-repeat left calc(100% - 75px) / 100% 291px;

    &-container {
      @corner: 251px;
      @itemCorner: 32px;
      @itemSpaceAfter: (@itemCorner/2);
      @marginRight: @itemCorner + @itemSpaceAfter - 1;
      .container();
      height: 731px;
      display: flex;

      &-navigation {
        .flex-col();
        align-items: flex-end;
        width: 100%;
        max-width: 344px;

        &-item {
          box-sizing: border-box;
          padding: 0 43px 2px;
          width: 100%;
          height: 53px;
          max-width: 227px;
          background: @silver;
          font-weight: 600;
          font-size: 19px;
          line-height: 23px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          clip-path: polygon(@itemCorner 0%, 100% 0%, 100% 100%, 0% 100%);
          margin-bottom: @itemSpaceAfter;
          cursor: pointer;

          &_selected {
            background: @blue;
            background-blend-mode: soft-light;
            color: #fff;
            backdrop-filter: blur(2px);
          }

          .generate-column(0, @marginRight);
        }
      }

      &-content {
        position: relative;
        flex-grow: 1;
        box-shadow: 0 1px 4px rgba(20, 20, 20, 0.2);

        &::before {
          content: '';
          display: block;
          position: absolute;
          height: 100%;
          width: 100%;
          background: @silver;
          left: -@corner;
          clip-path: polygon(@corner 0%, 100% 0%, 100% 100%, @corner 100%, 0% 50%);
        }

        &-box {
          .flex();
          position: relative;
          width: 100%;
          height: 100%;
        }

        &-preview {
          width: 60%;
          background: @silver;
          padding: 46px 28px 46px 1px;
          overflow: auto;

          &-image {
            .image();
            height: 331px;
            //background-image: url("../assets/img/works2.png");
          }

          &-title {
            max-width: 325px;
            margin: 15px 0;
          }

          &-text {
            .font(@blackColor, 30px);
          }
        }

        &-photos {
          box-shadow: inset 4px 3px 6px rgba(34, 34, 34, 0.15);
          background: #EEF4F7;
          width: 55%;
          max-width: 440px;
          padding: 46px 20px;
          position: relative;

          &-container {
            .flex-between();
            .wrap();
          }

          &-item {
            .image();
            cursor: pointer;
            width: calc(50% - 20px);
            max-width: 190px;
            height: 160px;
            background-image: url("../assets/img/works1.png");
            margin-bottom: 20px;

            &:nth-child(2n + 1) {
              margin-right: 19px;
            }
          }
        }
      }
    }

    &-utils {
      bottom: 46px;
      left: 50%;
      transform: translateX(-50%);
    }
  }, @pcFrom, @infinite);
  .littlePc({
    &-container {
      &-content-photos {
        padding: 10px;
        overflow: auto;
        &-item {
          height: 135px;
        }
        .works-utils {
          bottom: 10px;
        }
      }
      &-content-preview {
        padding: 10px;
        &-title {
          margin: 5px 0;
        }
        &-text {
          font-size: 1.2rem;
        }
        &-image {
          height: 208px;
        }
      }
      & > .works-container-navigation {
        width: 20%;
      }
      height: 473px;
      &-content:before {
        content: none;
      }
      &-navigation {
        &-item {
          width: 100%;
          max-width: none;
          margin-right: 0 !important;
          margin-bottom: 5px;
          height: 80px;
        }
      }
    }
  });
}
.works-container-content-photos-item:active {
  transition: 50ms ease-out;
  transform: scale(.95);
}

@media (max-width: @pcFrom) {
  .works {
    background: #fff;
  }
  .dropdownApp();
}

.dropdownApp() {
  .dropdown-app {
    position: relative;
    .dropdownSelectHeader();
    @contentheight: 704px;
    @photosTopSpace: 102px;
    &-container {
      min-height: 400px;
      &-box {
        padding: 32px 60px;
        overflow: hidden;
        position: relative;
        &_enabled {
          .dropdown-app-container-all-photos-btn {
            // когда открыто опэн
            background-image: url("../assets/img/menu-photos-active.svg");
          }
          .dropdown-app-container-photos {
            padding: 46px 60px;
            height: calc(100% - @photosTopSpace);
          }
        }
      }
      &-photos {
        height: 0;
        overflow: hidden;
        position: relative;
      }


      &-all-photos-btn {
        position: relative;
        z-index: 0;
        cursor: pointer;
        display: block;
        @allSize: 42px;
        width: @allSize;
        height: @allSize;
        .bgCover();
        background-image: url("../assets/img/menu-photos.svg");
      }
      &-preview {
        margin-top: 32px;
        height: @contentheight;
        overflow: auto;
        &-image {
          width: 100%;
          height: 458px;
          .bgCover(100%);
          max-width: 700px;
          // * image * //
          background-image: url("../assets/img/works1.png");
        }
        &-title {
          padding: 23px 0;
          white-space: pre-line;
          font-size: 30px;
        }
        &-text {
          .font(#161818, 30px)
        }
      }

      &-photos {
        transition: height 100ms ease;
        box-sizing: border-box;
        padding: 0 60px;
        height: 0;
        position: absolute;
        top: @photosTopSpace;
        left: 0;
        background: #b4bcc6;
        width: 100%;
        overflow: auto;

        &-box {
          .flex-between() !important;
          flex-wrap: wrap;
          &-item {
            height: 195px;
            width: 48%;
            .bgCover(cover);
            background-image: url("../assets/img/works2.png");
            margin-bottom: 10px;
          }
        }
        .works-utils {
          bottom: 20px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

//!ДОДЕЛАТЬ//
//?ДОДЕЛАТЬ//
//+ДОДЕЛАТЬ//
//+ДОДЕЛАТЬ//
//+ДОДЕЛАТЬ//
//+ДОДЕЛАТЬ//
//?ДОДЕЛАТЬ//
//!ДОДЕЛАТЬ//
.dropdownSelectHeader() {
  &-navigation {
    width: 100%;
    position: relative;
    @paddingInBlockMenu: 32px;
    @maxWidth: 380px;
    &-title {
      position: relative;
      z-index: 2;
      @paddingVert: 24px;
      //background: linear-gradient(269.76deg, #6EC8E6 -10.33%, #BBCDD3 112.2%);
      .bgCover(100% 123%);
      background-image: url("../assets/img/select-bg.png");
      //clip-path: polygon(0 0, 100% 0%, calc(100% - 55px) 100%, 0% 100%);
      box-sizing: border-box;
      padding-right: 55px;
      .font(#fff, 38px, 600);
      .flex();
      align-items: center;
      justify-content: flex-end;
      &-label {
        font-size: 30px;
        line-height: 31px;
        padding: @paddingVert 10px @paddingVert 0;
        box-sizing: border-box;
      }
      .mediaMaxWidth({
        background-size: 107% 123%;
        padding-right: 20px;
        &-label {
          font-size: 24px;
          line-height: 28px;
          padding-left: 10px;
        }
      }, @tabletFrom);
      &-btn {
        cursor: pointer;
        .bgCover();
        background-image: url("../assets/img/works_drop.svg");
        @size: 33px;
        min-width: @size;
        min-height: @size;
        transition: 100ms ease;
      }
    }

    &-menu {
      transition: 200ms ease;
      z-index: 1;
      overflow: hidden;
      height: 0;
      width: calc(100% - 20px);
      position: absolute;
      background: @dropdownColor;
      max-width: 405px;
      right: 0;
      top: 0;
      padding-top: 0;
      padding-bottom: 0;
      &-item {
        cursor: pointer;
        max-width: @maxWidth;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 16px 0;
        .font(#fff, 22px, 600);
        &.works-container-navigation-item_selected {
          color: @fontColor;
        }
      }
    }

    &_active {
      .dropdown-app-navigation-title-btn {
        transform: rotateX(180deg);
      }
      .dropdown-app-navigation-menu {
        overflow: auto;
        height: 400px;
        width: calc(100% - 20px);
        display: block;
        padding: 102px 0 @paddingInBlockMenu 17px;
      }
    }
  }
}

.clear-space {
  margin: -@space-around-section 0 0 !important;
  padding: 230px 0;

  .mediaMaxWidth({
    padding-bottom: 50px;
  });

  .littlePc({
    margin: 0px 0 0 !important;
    padding: 0px 0;
  });
}

.cost {
  @spaceBetweenBlocks: 50px;
  .bgCover();
  background-image: url("../assets/img/form-car.png");
  &-container {
    .container();
    padding: 0;
    .box1130 {
      position: relative;
      @line-right: 115px - @padding-inside;
      @padding-vertical: 35px;
      box-sizing: border-box;
      max-width: 1130px;
      background: @Black10;
      box-shadow: -10px -8px 7px -3px rgba(0, 0, 0, 0.14);
      padding: @padding-vertical 115px @padding-vertical 118px;
      &:after {
        content: '';
        position: absolute;
        background: @blue;
        right: @line-right;
        top: @padding-vertical;
        width: 1px;
        height: calc(100% - @padding-vertical * 2);
        .mediaMaxWidth({
          display: none;
        }, @tabletFrom);
      }
    }
    &-title {
      text-align: center;
      .h2();
      color: #fff;
      margin-bottom: @spaceBetweenBlocks;
    }
    &-inputs {
      .flex-between();
      &-cell {
        width: 45%;
        &-comment {
          appearance: none;
          resize: none;
        }
      }
    }
    &-buttons {
      padding-top: @spaceBetweenBlocks;
      .flex-between();
      align-items: flex-start;
      .button {
        margin-left: 20px;
        padding: 0 84px;
      }
    }
    .mediaMaxWidth({
      &-title {
        margin-bottom: (@spaceBetweenBlocks);
      }
      &-inputs {
        flex-direction: column;
        &-cell {
          width: 100%;
        }
        &-cell-input {
          margin: 20px 0;
        }
      }
      &-buttons {
        flex-direction: column;
        padding-top: (@spaceBetweenBlocks / 2);
        .button {
          margin-left: 0;
          margin-top: 50px;
        }
      }
    });
  }
}

.yandex {
  position: relative;

  #map {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    position: absolute;
  }

  padding-top: 87px;
  margin-bottom: 0 !important;

  &-container {
    .container();
  }

  &-content {
    z-index: 1;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    max-width: 425px;
    padding: 34px;
    background: #fff;
    box-shadow: 6px 9px 10px 2px rgba(0, 0, 0, 0.21);
    border-radius: 2px;
  }

  &-data {
    @icon-size: 43px;
    margin-bottom: 43px;

    &-row {
      .flex();
      width: 100%;
      margin-bottom: 16px;
    }

    &-icon {
      width: @icon-size;
      height: @icon-size;
      .bgContain();
      .generate-icon();
    }

    &-text {
      .font(#000, 17px, 600);
      padding-left: 16px;
    }
  }

  &-description {
    .font(#575757, 19px);
    margin-bottom: 16px;
  }

  &-phones {
    margin-bottom: 13px;
    .flex-col();

    &-item {
      &:first-child {
        margin-bottom: 11px;
      }

      .font(@yandexBlue, 19px);
    }
  }

  &-icons {
    .flex();

    &-link {
      .social-link(@yandexBlue);
      margin: 0 10px 0 0;
    }
  }

  .mediaMaxWidth({
    height: auto;
    padding-top: 20px;
    background: #fff;
    #map {
      position: relative;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      height: 60vh;
    }
    &-description,
    &-phones,
    &-yandex-data-row {
      margin-bottom: 15px;
    }
    &-content {
      max-width: none;
      background: transparent;
      padding: 0;
      box-shadow: none;
      .flex-between();
    }
    &-data {
      margin-right: 20px;

      &-row {
        margin-bottom: 10px;
      }

      color: #000;
      width: 50%;
      margin-bottom: 0;
    }
    &-data2 {
      width: 50%;
    }
    &-icons {
      padding-bottom: 20px;
    }
    &-data,
    &-data2 {
      justify-content: space-between;
    }
    &-phones-item:first-child {
      margin-bottom: 5px;
    }
  });

  .mediaMaxWidth({
    &-data-icon {
      @iconSize: 25px;
      min-width: @iconSize;
      max-width: @iconSize;
      min-height: @iconSize;
      max-height: @iconSize;
    }
    &-data-text,
    &-description,
    &-phones-item {
      font-size: 12px;
      word-break: break-word;
    }
  }, @tabletFrom);

  .mediaMaxWidth({
    &-data-icon {
      @iconSize: 18px;
      min-width: @iconSize;
      max-width: @iconSize;
      min-height: @iconSize;
      max-height: @iconSize;
    }
    &-data-text,
    &-description,
    &-phones-item {
      font-size: 8px;
      word-break: break-word;
    }
  }, 450px);

  .littlePc({
    &.section {
      margin-bottom: 0 !important;
    }
    height: 471px;
    padding: 0;
    &-content {
      padding: 10px 15px;
      margin-top: 50px;
    }
    &-data {
      margin-bottom: 5px;
    }
  });
}

// pages


.description {
  @blockTop: 220px;
  @blockBottom: 440px;
  &-container {
    .container(1388px);
    box-sizing: border-box;
    position: relative;
    padding-bottom: 63px;
    overflow: hidden;
  }
  &-content {
    overflow: hidden;
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    max-width: 887px;
    width: 100%;
    min-height: 736px;
    padding: 10px;
    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      background: @fontColor;
      z-index: -1;
    }
    &:before {
      .rectange(@blockTop);
      top: 0;
      right: 0;
    }
    &:after {
      .rectange(@blockBottom);
      left: 0;
      bottom: 0;
    }
    &-text {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      padding: 124px 88px;
      min-height: 763px;
      display: block;
      background: linear-gradient(235.54deg, #C6D3E8 9.22%, #9FA5AD 99.98%);
      font-size: 26px;
      line-height: 121.18%;
      text-align: center;
      color: @D2b;
      .flex-center;
    }
  }
  &-background {
    z-index: -2;
    position: absolute;
    right: 0;
    bottom: 0;
    @isize: 763px;
    @paddingImage: 29px;
    @difference: @isize - @paddingImage - @paddingImage;
    width: @isize;
    height: @isize;
    box-sizing: border-box;
    padding: @paddingImage;
    .bgCover(100% 100%);
    background-image: url("../assets/img/corners.png");
    &-image {
      width: 100%;
      height: 100%;
      .bgCover();
      background-image: url("../assets/img/1617021410678436.jpg");
    }
  }
  .mediaMaxWidth({
    position: relative;
    &:before {
      z-index: -1;
      content: '';
      display: block;
      position: absolute;
      top: -18px;
      right: 11px;
      left: 11px;
      height: 75%;
      border: 1px solid @blue;
    }
    &-title {
      margin-bottom: 25px !important;
    }
    &-container--box {
      padding: 0 20px;
      box-sizing: border-box;
    }
    &-background {
      width: 100%;
      background: none;
      padding: 0;
      height: 521px;
    }
    &-container {
      width: 100%;
      padding: 0 0 122px;
    }
    &-content {
      max-width: none;
      &-text {
        padding: 40px;
      }
    }
  });

  .mediaMaxWidth({
    &-container {
      overflow: visible;
    }
    &-content {
      min-height: 400px;
      padding: 3px;

      &:before {
        .rectange(calc(@blockTop / 2));
      }
      &:after {
        .rectange(calc(@blockBottom / 2));

      }
    }
    &-content-text {
      min-height: 440px;
      font-size: 1rem;
    }
  }, @tabletFrom);

  .mediaMaxWidth({
    .description-content-text {
      font-size: 0.8rem;
    }
  }, 400px);
}


.big-block {
  padding: 24px 0;
  //min-height: 1629px;
  background: linear-gradient(228.74deg, rgba(24, 24, 24, 0.27) -3.16%, rgba(108, 187, 244, 0) 101.82%),
  url("../assets/img/car-types.png") no-repeat top left / 170%;
  .mediaMaxWidth({
    background-size: cover;
  }, 1500px);
}
.types-app {
  .container();
  .dropdownSelectHeader();
  position: relative;
  overflow: hidden;
  height: 541px;
  margin-bottom: 200px;
  &:before {
    content: '';
    width: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    left: 0;
    display: block;
    background: @black;
    pointer-events: none;
  }
  &:after {
    content: '';
    width: 14px;
    height: 72px;
    position: absolute;
    top: 0;
    z-index: 3;
    left: 3px;
    display: block;
    background: #9CCBDB;
    pointer-events: none;
  }
  &-navigation {
    position: sticky;
    top: 0;
    z-index: 2;
    &-title {
      padding-right: 100px;
      &-label {
        min-width: 500px;
      }
    }
  }
  &-block {
    .scrollConfig();
    box-sizing: border-box;
    display: block;
    overflow: auto;
    height: 100%;
    width: 50%;
    padding: 136px 45px 50px;
    transition: 200ms ease;
    z-index: 0;
    position: absolute;
    background: @dropdownColor;
    right: 20px;
    top: 1px;
    background: linear-gradient(310.55deg, #C4E4EF -26.66%, #BBCDD3 104.88%);
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.16);
    font-size: 22px;
    line-height: 1.2em;
    color: @D2b;
  }
  &-box-container {
    .scrollConfig();
    overflow: auto;
    height: 540px;
    top: -78px;
    position: relative;
    scroll-behavior: smooth;
  }
  &-box-navigation {
    width: 40%;
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: visible;
    padding-bottom: 540px;
    &-item {
      user-select: none;
      cursor: pointer;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      @height: 72px;
      margin-bottom: 13px;
      min-height: @height;
      width: 100%;
      padding: 0 72px 0 30px;
      background: linear-gradient(88.4deg, rgba(24, 24, 24, 0.75) -13.76%, rgba(96, 198, 225, 0) 117.85%), rgba(36, 36, 36, 0.75);
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);
      clip-path: polygon(0 0, 100% 0%, calc(100% - 38px) 100%, 0% 100%);
      font-size: 30px;
      line-height: 1.03em;
      color: #6d6d6d;
    }
  }

  //+tablet
  .mediaMaxWidth({
    margin-bottom: 100px;
    padding-right: 0;
    &:before {
      z-index: 3;
    }
    &-box-container {
      top: -60px;
    }
    &-navigation {
      &-title {
        padding-right: 50px;
      }
    }
    &-box-navigation {
      width: 38%;
    }
    &-box-navigation-item {
      min-height: 60px;
      font-size: 18px;
      clip-path: polygon(0 0, 100% 0%, calc(100% - 24px) 100%, 0% 100%);
      &:first-child {
        margin-top: 0;
      }
    }
    &-block {
      right: 0;
      padding: 90px 20px 20px;
      font-size: 20px;
      width: 60%;
    }
  });
  //+mobile
  .mediaMaxWidth({
    padding: 0;
    width: 100%;
    margin-bottom: 50px;
    &:before {
      width: 10px;
    }
    &:after {
      left: 2px;
      top: 4px;
      width: 6px;
    }
    &-navigation {
      &-title {
        background-size: 103%;
        height: 79px;
        .flex();
        align-items: center;
        background: linear-gradient(269.76deg, #6EC8E6 -10.33%, #BBCDD3 112.2%);
        box-shadow: 0 4px 4px rgba(20, 83, 97, 0.2);
        clip-path: none;
        &-label {
          padding: 0 34px 0px 30px;
          min-width: auto;
          font-size: 16px;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: right;
        }
      }
    }
    &-box-navigation {
      padding-bottom: 468px;
      &-item {
        width: 100%;
        clip-path: none;
        font-size: 12px;
        padding: 0 12px;
      }
      width: 30%;
    }
    &-navigation-title {
      width: 100%;
      padding: 0;
      background-size: cover;
    }
    &-block {
      font-size: 14px;
      width: 70%;
    }
  }, @tabletFrom);

}


.footer {
  .container();
  padding-top: 36px;
  padding-bottom: 52px;

  .mediaMaxWidth({
    padding-top: 0;
    padding-bottom: 12px;
  });

  &-logo {
    margin: 10px 0;
  }

  &-contacts {
    .flex-col();
    .font(#fff, 18px, 600);
    line-height: 24px;
    align-items: flex-start;
    .mediaMaxWidth({
      display: none;
    })
  }

  &-row {
    .flex-between-align();
  }

  &-navigation {
    display: none;
    width: 100%;
    &-block {
      display: inline-block;
    }
    &-hd {
      .flex-between-align();
      .wrap();
      margin-top: 63px;
      width: 100%;
      padding-bottom: 25px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.68);
    }

    .mediaMaxWidth({
      &-hd {
        display: none;
      }
      // mobile nav
      .flex-between();
      margin-top: 0;
      width: 100%;
      padding-bottom: 25px;
      border-top: 1px solid rgba(255, 255, 255, 0.68);
      border-bottom: none;

      &-block {
        &, a {
          color: #fff;
        }
        a, span {
          margin-bottom: 5px;
        }
        .flex-col();
        .social {
          color: #fff;
          &-links {
            .flex();
          }
          &-link {
            margin-left: 0;
            &:first-child {
              margin-right: 10px;
            }
          }
        }
      }
    });
  }
}


@media (max-width: @tabletFrom) {
  .clear-space {
    padding-bottom: 0;
  }
  .header {
    padding: 10px 20px;
    height: auto;
    &-logo {
      width: 120px;
      height: 30px;
    }
  }
  header {
    background: #131313 !important;
  }
  .banner {
    &-item {
      min-height: auto;
      height: auto;
      padding-top: 50px;
    }
    &-item-content-title {
      font-size: 24px;
      max-width: 500px;
    }
    &-item-content-description {
      font-size: 18px;
      max-width: 500px;
    }
    &-item-content-button {
      margin-top: 0;
    }
    &-item-content {
      @paddingTop: 50px;
      padding: @paddingTop 20px 100px;
      height: calc(100% - @paddingTop);
      &:before {
        width: 30%;
      }
      &:after {
        top: @paddingTop;
        height: 200px;
      }
    }
  }

  .about {
    background-color: @fontColor;
    background-position: center calc(100% + 50px);
    background-size: 768px;
    padding-top: 20px;
    &-container {
      &-flex {
        flex-direction: column;
        height: auto;
        overflow: auto;
      }
      &-photo {
        min-height: 250px;
        //overflow: auto;
        width: 100%;
        clip-path: none;
      }
      &-content {
        width: 100%;
        height: auto;
        max-height: none;
        //overflow: visible;
        //max-height: 500px;
        box-sizing: border-box;
        padding: 12px 20px;
      }

    }
  }

  .form {
    margin: 0;
    .button {
      width: 100%;
    }
  }

  .people {
    width: 100%;
    padding: 0;
    &-container {
      &-card {
        //min-width: 200px;
      }
    }
  }

  //works
  .dropdown-app {
    //!ДОДЕЛАТЬ//
    //?ДОДЕЛАТЬ//
    //+ДОДЕЛАТЬ//
    //+ДОДЕЛАТЬ//
    //+ДОДЕЛАТЬ//
    //+ДОДЕЛАТЬ//
    //?ДОДЕЛАТЬ//
    //!ДОДЕЛАТЬ//
    &-navigation-title {
      &-label {
        font-size: 18px;
      }
      &-btn {
        min-width: 24px;
        min-height: 24px;
      }
    }
    //
    &-container {
      &-box {
        padding: 20px;
      }
      &-preview {
        height: 500px;
        &-image {
          background-size: cover;
          height: 300px;
        }
        &-title {
          font-size: 1.2rem;
        }
        &-text {
          font-size: 1.2rem;
        }
      }
      &-box_enabled {
        .dropdown-app-container-photos {
          padding: 20px;
          height: calc(100% - 90px);
          top: 90px;
          &-box-item {
            height: 138px;
          }
        }
      }
    }
  }
  .cost-container {
    width: 100%;
    .box1130 {
      box-sizing: border-box;
      padding: 20px;
    }
    .button-container {
      width: 100%;
      .button {
        width: 100%;
      }
    }
  }

  .footer {
    &-navigation {
      flex-direction: column;
      align-items: center;
      &-block {
        width: 100%;
        .flex-center();
        a {
          padding: 10px;
        }

        .footer-address {
          padding: 10px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .header {
    &-assets {
      .flex-between-align;
      flex-basis: 100%;

    }
    &-logo {
      width: 80px;
      height: 13px;
    }
  }
  .navigation-placeholder {
    width: 10%;
  }
  .navigation-container-item {
    a {
      display: block;
      text-overflow: ellipsis;
      text-align: left;
      font-size: 16px;
      overflow: hidden;
    }
  }
  .header-assets-call-button .button {
    padding: 2px 20px;
    height: 30px;
  }
  .burger {
    margin-left: 0;
  }
  .dropdown-app-navigation-title-label,
  .dropdown-app-navigation-menu-item {
    font-size: 14px;
    text-align: right;
  }
  .dropdown-app-navigation_active {
    .dropdown-app-navigation-menu {
      width: calc(100% - 79px);
      height: 236px;
      padding: 102px 20px 32px 17px;
    }
  }
}

@media screen and (max-width: 320px) {
  body {
    width: 100vw;
    word-break: break-word;
  }
  .form-container-buttons-button .button {
    min-width: auto;
  }
  .advantages-container-row-item {
    min-width: auto;
  }

}

.littlePc({
  .section {
    margin-bottom: 100px !important;
  }
});

//! important with state

.works-container-content-box {
  display: none;
  &_enabled {
    display: flex;
    .mediaMaxWidth({
      display: block;
    }, @pcFrom);
  }
}

.pointer_off {
  pointer-events: none;
}
